@tailwind base;
@tailwind components;
@tailwind utilities;




html, body{
  height: 100%;
}
.hover-sidebar:hover{
    width: 250px;
}
.sidebar-click{
    width: 250px;
}

.prose ul, .prose ol {
  padding-left: 1.5rem !important;
  list-style-type: disc !important;
}
.prose ol {
  list-style-type: decimal !important;
}


/* scrollbar */
/* untuk Chrome, Edge, dan Safari */
.my-scrollable-element {
  overflow-y: auto;

  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(120,120,120,0.4) transparent;
}

.my-scrollable-element::-webkit-scrollbar {
  width: 1px;
}

.my-scrollable-element::-webkit-scrollbar-track {
  background: transparent;
}

.my-scrollable-element::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 10px;
}



